

<section class="fit-results">
<h1 class="visuallyhidden">Fit results</h1>

        
        <h2>Quality of fit</h2>
        <table class="table" id="fitResult">
        <thead>
        <tr class="active">
            <th scope="row">Fit</th>
            <th>RMS</th>
            <th>Covariance</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr class="active">
            <th scope="row">Total</th>
            <th>{{format-sci pagedFitResult.qof.rms_total 4}}</th>
            <th>{{format-sci pagedFitResult.qof.cov_total 4}}</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        {{#each pagedFitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{format-sci (get-index pagedFitResult.qof.rms index) 4}}</td>
                    <td>{{format-sci (get-index pagedFitResult.qof.cov index) 4}}</td>
                    <th></th>
                </tr>
        {{/each}}
        </tbody>
        </table>

        {{#if pagedFitResult.fit.coeffs}}
        <h2>Coefficients</h2>
        <table class="table" id="resultCoefficients">
          <thead>
            <tr class="active">
                <th scope="row">Fit</th>
                <th>
                    {{fitLabels.fit.coeffs.[0]}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs.[1]}}
                        {{fitLabels.fit.coeffs.[1]}}
                    {{/if}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs.[2]}}
                        {{fitLabels.fit.coeffs.[2]}}
                    {{/if}}
                </th>
            </tr>
          </thead>
          <tbody>
            {{#each pagedFitResult.labels.data.y.row_labels as |label index|}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{format-sci (get-at-index pagedFitResult.fit.coeffs 0 index) 4}}</td>
                        {{#if pagedFitResult.fit.coeffs.[1]}}
                            <td>{{format-sci (get-at-index pagedFitResult.fit.coeffs 1 index) 4}}</td>
                        {{/if}}
                        {{#if pagedFitResult.fit.coeffs.[2]}}
                            <td>{{format-sci (get-at-index pagedFitResult.fit.coeffs 2 index) 4}}</td>
                        {{/if}}
                    </tr>
            {{/each}}
        </tbody>
        </table>
        {{/if}} <!--pagedFitResult.fit.coeffs-->

</section>
