

<section class="fit-results">
<h1>Fit results</h1>

<table class="table" id="fitParams">
      <thead>
        <tr class="active">
            <th scope="row">Parameter (bounds)</th>
            <th>Optimised</th>
            <th>Error</th>
            <th>Initial</th>
        </tr>
      </thead>
      <tbody>
        {{#each paramsLabelled as |param|}}
            <tr> <!-- TODO note for James put id here for better print over multiple pages-->
                <!-- Parameter label -->
                {{#if (is-array param.label)}}
                    <!-- Array means sub-parameters - list on separate lines -->
                    <td>
                    {{#each param.label as |label index|}}
                        {{#if (eq index 0)}}
                            <!-- Display first label in bold, with bounds -->
                            <strong>{{label}}</strong>
                            ({{#if (eq param.bounds.min 0)}}
                                 0
                            {{else if param.bounds.min}}
                                {{param.bounds.min}}
                            {{else}}
                                -&infin;
                            {{/if}}
                            &rarr;
                            {{#if (eq param.bounds.max 0)}}
                                 0
                            {{else if param.bounds.max}}
                                {{param.bounds.max}}
                            {{else}}
                                &infin;
                            {{/if}})<br/>
                        {{else}}
                            ({{label}})<br/>
                        {{/if}}
                    {{/each}}
                    </td>
                {{else}}
                    <!-- Single parameter -->
                    <td>
                    <strong>{{param.label}}</strong> 
                    ({{#if (eq param.bounds.min 0)}}
                         0
                    {{else if param.bounds.min}}
                        {{param.bounds.min}}
                    {{else}}
                        -&infin;
                    {{/if}}
                    &rarr;
                    {{#if (eq param.bounds.max 0)}}
                         0
                    {{else if param.bounds.max}}
                        {{param.bounds.max}}
                    {{else}}
                        &infin;
                    {{/if}})
                    </td>
                {{/if}}

                <!-- Optimised value -->
                <!-- List on separate lines if more than one parameter value -->
                {{#if (is-array param.value)}}
                    <td>
                    {{#each param.value as |value|}}
                        {{format-sci value 2}} {{param.units}}<br/>
                    {{/each}}
                    </td>
                {{else}}
                    <td>{{format-sci param.value 2}} {{param.units}}</td>
                {{/if}}

                <!-- Error -->
                <!-- List on separate lines if more than one parameter error -->
                {{#if (is-array param.stderr)}}
                    <td>
                    {{#each param.stderr as |stderr|}}
                        &plusmn; {{format-sci stderr 4}} %<br/>
                    {{/each}}
                    </td>
                {{else}}
                    {{#if param.stderr}}
                        <td>&plusmn; {{format-sci param.stderr 4}} %</td>
                    {{else}}
                        <td>N/A</td>
                    {{/if}}
                {{/if}}

                <!-- Initial guess value -->
                <td>{{format-sci param.init 2}} {{param.units}}</td>
            </tr>
            {{#if param.mc}}
                <tr>
                    <td>K: MC error</td>
                    <td>{{format-sci param.mc.[0] 4}} %</td>
                    <td>&plus; {{format-sci param.mc.[1] 4}} %</td>
                    <td></td>
                </tr>
            {{/if}}
        {{/each}}
        </tbody>
        </table>
        <table class="table" id="fitResult">
        <thead>
        <tr class="active">
            <th scope="row">Fit</th>
            <th>RMS</th>
            <th>Covariance</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr class="active">
            <th scope="row">Total</th>
            <th>{{format-sci pagedFitResult.qof.rms_total 4}}</th>
            <th>{{format-sci pagedFitResult.qof.cov_total 4}}</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        {{#each pagedFitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{format-sci (get-index pagedFitResult.qof.rms index) 4}}</td>
                    <td>{{format-sci (get-index pagedFitResult.qof.cov index) 4}}</td>
                    <th></th>
                </tr>
        {{/each}}
        </tbody>
        </table>

        {{#if pagedFitResult.fit.coeffs}}
        <table class="table" id="resultCoefficients">
          <thead>
            <tr class="active">
                <th scope="row">Coefficients</th>
                <th>
                    {{fitLabels.fit.coeffs.[0]}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs.[1]}}
                        {{fitLabels.fit.coeffs.[1]}}
                    {{/if}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs.[2]}}
                        {{fitLabels.fit.coeffs.[2]}}
                    {{/if}}
                </th>
            </tr>
          </thead>
          <tbody>
            {{#each pagedFitResult.labels.data.y.row_labels as |label index|}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{format-sci (get-at-index pagedFitResult.fit.coeffs 0 index) 4}}</td>
                        {{#if pagedFitResult.fit.coeffs.[1]}}
                            <td>{{format-sci (get-at-index pagedFitResult.fit.coeffs 1 index) 4}}</td>
                        {{/if}}
                        {{#if pagedFitResult.fit.coeffs.[2]}}
                            <td>{{format-sci (get-at-index pagedFitResult.fit.coeffs 2 index) 4}}</td>
                        {{/if}}
                    </tr>
            {{/each}}
        </tbody>
        </table>
        {{/if}} <!--pagedFitResult.fit.coeffs-->
</section>

{{fit-paginator currentPage=currentPage 
                  countPages=countPages
                  n=NUMBER_ROWS_PAGE}}


<section class="fit-details">
  <h1>Fit details</h1>
  <dl class="fitMetaData">
    <dt>Time to fit</dt>
    <dd>{{format-sci pagedFitResult.time 4}} s</dd>
    
    <dt>SSR</dt>
    <dd>{{format-sci pagedFitResult.qof.ssr 4}}</dd>
    
    <dt>Fitted datapoints</dt>
    <dd>{{pagedFitResult.fit.n_y}}</dd>

    <dt>Fitted params</dt>
    <dd>{{pagedFitResult.fit.n_params}}</dd>
  </dl>
</section>
