<table class="table">
    <tbody>
        <tr class="active">
            <th scope="row">Parameter</th>
            <th>Optimised</th>
            <th>Error</th>
            <th>Initial</th>
        </tr>
        {{#each paramsLabelled as |param|}}
            <tr>
                <th scope="row">{{param.label}}</th>
                <td>{{round param.value 2}} {{param.units}}</td>
                {{#if param.stderr}}
                    <td>&plusmn; {{round param.stderr 4}} {{param.units}}</td>
                {{else}}
                    <td>N/A</td>
                {{/if}}
                <td>{{round param.init 2}} {{param.units}}</td>
            </tr>
        {{/each}}

        <tr class="active">
            <th scope="row">Fit</th>
            <th>RMS</th>
            <th>Covariance</th>
            <th></th>
        </tr>
        <tr class="active">
            <th scope="row">Total</th>
            <th>{{round fitResult.qof.rms_total 4}}</th>
            <th>{{round fitResult.qof.cov_total 4}}</th>
            <th></th>
        </tr>
        {{#each fitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{round (get-index fitResult.qof.rms index) 4}}</td>
                    <td>{{round (get-index fitResult.qof.cov index) 4}}</td>
                    <th></th>
                </tr>
        {{/each}}

        <tr class="active">
            <th scope="row">Coefficients</th>
            <th>
                {{fitLabels.fit.coeffs_calc.[0]}}
            </th>
            <th>
                {{#if fitLabels.fit.coeffs_calc.[1]}}
                    {{fitLabels.fit.coeffs_calc.[1]}}
                {{/if}}
            </th>
            <th>
                {{#if fitLabels.fit.coeffs_calc.[2]}}
                    {{fitLabels.fit.coeffs_calc.[2]}}
                {{/if}}
            </th>
        </tr>
        {{#each fitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{round (get-at-index fitResult.fit.coeffs_calc 0 index) 4}}</td>
                    {{#if fitResult.fit.coeffs_calc.[1]}}
                        <td>{{round (get-at-index fitResult.fit.coeffs_calc 1 index) 4}}</td>
                    {{/if}}
                    {{#if fitResult.fit.coeffs_calc.[2]}}
                        <td>{{round (get-at-index fitResult.fit.coeffs_calc 2 index) 4}}</td>
                    {{/if}}
                </tr>
        {{/each}}

        <tr>
            <th scope="row">Time to fit</th>
            <td>{{round fitResult.time 4}} s</td>
        </tr>
    </tbody>
</table>
