<table class="table">
    <tbody>
        <tr class="active">
            <th scope="row">Parameter</th>
            <th>Optimised</th>
            <th>Error</th>
            <th>Initial</th>
        </tr>
        {{#each paramsLabelled as |param|}}
            <tr>
                <th scope="row">{{param.label}}</th>
                <td>{{format-sci param.value 2}} {{param.units}}</td>
                {{#if param.stderr}}
                    <td>&plusmn; {{format-sci param.stderr 4}} %</td>
                {{else}}
                    <td>N/A</td>
                {{/if}}
                <td>{{format-sci param.init 2}} {{param.units}}</td>
            </tr>
            {{#if param.mc}}
                <tr>
                    <td>K: MC error</td>
                    <td>{{format-sci param.mc.[0] 4}} %</td>
                    <td>&plus; {{format-sci param.mc.[1] 4}} %</td>
                    <td></td>
                </tr>
            {{/if}}
        {{/each}}

        <tr class="active">
            <th scope="row">Fit</th>
            <th>RMS</th>
            <th>Covariance</th>
            <th></th>
        </tr>
        <tr class="active">
            <th scope="row">Total</th>
            <th>{{format-sci fitResult.qof.rms_total 4}}</th>
            <th>{{format-sci fitResult.qof.cov_total 4}}</th>
            <th></th>
        </tr>
        {{#each fitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{format-sci (get-index fitResult.qof.rms index) 4}}</td>
                    <td>{{format-sci (get-index fitResult.qof.cov index) 4}}</td>
                    <th></th>
                </tr>
        {{/each}}

        {{#if fitResult.fit.coeffs_calc}}
            <tr class="active">
                <th scope="row">Coefficients</th>
                <th>
                    {{fitLabels.fit.coeffs_calc.[0]}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs_calc.[1]}}
                        {{fitLabels.fit.coeffs_calc.[1]}}
                    {{/if}}
                </th>
                <th>
                    {{#if fitLabels.fit.coeffs_calc.[2]}}
                        {{fitLabels.fit.coeffs_calc.[2]}}
                    {{/if}}
                </th>
            </tr>
            {{#each fitResult.labels.data.y.row_labels as |label index|}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{format-sci (get-at-index fitResult.fit.coeffs_calc 0 index) 4}}</td>
                        {{#if fitResult.fit.coeffs_calc.[1]}}
                            <td>{{format-sci (get-at-index fitResult.fit.coeffs_calc 1 index) 4}}</td>
                        {{/if}}
                        {{#if fitResult.fit.coeffs_calc.[2]}}
                            <td>{{format-sci (get-at-index fitResult.fit.coeffs_calc 2 index) 4}}</td>
                        {{/if}}
                    </tr>
            {{/each}}
        {{/if}}

        <tr>
            <th scope="row">Time to fit</th>
            <td>{{format-sci fitResult.time 4}} s</td>
        </tr>
    </tbody>
</table>
