<!-- Tab titles -->
<ul class="nav nav-tabs">
    <li class="nav active"><a href="#tab-fit" data-toggle="tab">Fit</a></li>
    <li class="nav"><a href="#tab-molefrac" data-toggle="tab">Molefractions</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane fade in active" id="tab-fit">
        <div id="chart-fit" {{bind-attr class="dataOption"}}>
            <div class="chartDataFit">
            {{#if chartDataFit}}
            {{bindfit-high-charts content=chartDataFit chartOptions=chartOptionsFit theme=chartTheme}}
            {{else}}
            No data to display.
            {{/if}}
            </div>
            <div class="chartDataResiduals">
            {{#if chartDataResiduals}}
              {{bindfit-high-charts content=chartDataResiduals chartOptions=chartOptionsFit theme=chartTheme}}
            {{/if}}
            </div>
        </div> <!-- Chart panel -->
    </div> <!-- #tab-fit -->

    <div class="tab-pane fade" id="tab-molefrac">
        <div id="chart-molefrac">
            {{bindfit-high-charts content=chartDataMolefrac chartOptions=chartOptionsMolefrac theme=chartTheme}}
        </div> <!-- Chart panel -->
    </div> <!-- #tab-molefrac -->

</div> <!-- .tab-content -->

<!-- vim: set ts=4: -->
