<table class="table">
    <tbody>
        <tr class="active">
            <th scope="row">Parameter</th>
            <th>Optimised</th>
            <th>Error</th>
            <th>Initial</th>
        </tr>
        {{#each paramsLabelled as |param|}}
            <tr>
                <th scope="row">{{param.label}}</th>
                <td>{{round param.value 2}} {{param.units}}</td>
                <td>&plusmn; {{round param.stderr 4}} {{param.units}}</td>
                <td>{{round param.init 2}} {{param.units}}</td>
            </tr>
        {{/each}}
    <!-- Deal with multiple inputs here later -->
        <tr class="active">
            <th scope="row">Fit</th>
            <th>Coefficients</th>
            <th>RMS</th>
            <th>Covariance</th>
        </tr>
        <tr class="active">
            <th scope="row">Total</th>
            <th>---</th>
            <th>{{round fitResult.qof.rms_total 4}}</th>
            <th>{{round fitResult.qof.cov_total 4}}</th>
        </tr>
        {{#each fitResult.labels.data.y.row_labels as |label index|}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{round (get-at-index fitResult.fit.coeffs 0 index) 4}}</td>
                    <td>{{round (get-index fitResult.qof.rms index) 4}}</td>
                    <td>{{round (get-index fitResult.qof.cov index) 4}}</td>
                </tr>
        {{/each}}
        <tr>
            <th scope="row">Time to fit</th>
            <td>{{round fitResult.time 4}} s</td>
        </tr>
    </tbody>
</table>
