<!-- Tab titles -->
<ul class="nav nav-tabs">
    <li class="nav active"><a href="#tab-fit" data-toggle="tab">Fits</a></li>
    <li class="nav"><a href="#tab-molefrac" data-toggle="tab">Molefractions</a></li>
    <li class="nav"><a href="#tab-fitresults" data-toggle="tab">Results</a></li>
    <!--<li class="nav"><a href="#tab-data" data-toggle="tab">Data</a></li>-->
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane fade in active" id="tab-fit">
        <div class="panel panel-default">
        <div class="panel-body">
        <div id="chart-fit" {{bind-attr class="dataOption"}}>
            <div class="chartDataFit">
                {{#if chartDataFit}}
                    {{bindfit-high-charts content=chartDataFit chartOptions=chartOptionsFit theme=chartTheme}}
                {{else}}
                    No data to display.
                {{/if}}
            </div>
            <div class="chartDataResiduals">
                {{#if chartDataResiduals}}
                    {{bindfit-high-charts content=chartDataResiduals chartOptions=chartOptionsFit theme=chartTheme}}
                {{/if}}
            </div>
        </div> <!-- Chart panel -->
        </div>
        </div>
    </div> <!-- #tab-fit -->

    <div class="tab-pane fade" id="tab-molefrac">
        <div class="panel panel-default">
        <div class="panel-body">
        <div id="chart-molefrac">
            {{bindfit-high-charts content=chartDataMolefrac chartOptions=chartOptionsMolefrac theme=chartTheme}}
        </div> <!-- Chart panel -->
        </div>
        </div>
    </div> <!-- #tab-molefrac -->
    
    <div class="tab-pane fade" id="tab-fitresults">
        <div class="panel panel-default">
        <div class="panel-body">
          {{#if chartDataResiduals}}
            {{fit-result-table 
                    pagedFitResult=fitResult
                    fitLabels=fitLabels
                    fitResult=fullFitResult}}
          {{else}}
              No data to display.
          {{/if}}
        </div>
        </div>
    </div> <!-- #tab-molefrac -->
    
    <!--<div class="tab-pane fade" id="tab-data">-->
        <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
        <!--Placeholder-->
        <!--</div>-->
        <!--</div>-->
    <!--</div> -->

</div> <!-- .tab-content -->

<!-- vim: set ts=4: -->
