<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-4 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Fitter options</h3>
        </div>

        <div class="panel-body">
            <div class="alert alert-info">
            <ol>
                <li>Select a model to fit your data to</li>
                <li>Upload csv formatted data file</li>
                <li>Enter initial parameter guesses</li>
                <li>Click "Fit"</li>
            </ol>
            </div>

            <form id="bindfit-form-selector" class="form-horizontal">
                <div class="form-group">
                    <div class="input-group col-xs-12">
                        {{#x-select action="onFitterSelect" class="form-control"}}
                            <option>Choose fitter</option>
                            {{#each fitList as |fitter|}}
                                {{#x-option value=fitter.key}}{{fitter.name}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                    </div>
                </div>
            </form>

            {{#if fitOptions.isPopulated}}
                <form id="bindfit-form-params" class="form-horizontal" {{action "runFitter" on="enter"}}>
                    <div class="form-group">
                        <label class="sr-only" for="fileUpload">Choose input file to upload</label>
                        <div class="input-group col-xs-12">
                            <span class="btn btn-default btn-file btn-block">
                                Upload input file {{#if uploadPercentage}}({{uploadPercentage}}%){{/if}} {{file-upload url=uploadURL name=uploadName onComplete="onUploadComplete" onProgress="onUploadProgress" id="fileUpload"}}
                            </span>
                        </div>

                        {{#each fitOptions.params key="@index" as |param pi|}}
                            <div class="input-group col-xs-12">
                                <div class="input-group-addon">{{get-at-index fitLabels.params pi "label"}} guess</div>
                                {{input value=param.value type="number" class="form-control"}}
                                <div class="input-group-addon">{{get-at-index fitLabels.params pi "units"}}</div>
                            </div>
                        {{/each}}
                    </div>
                </form>

                <button class="btn btn-primary btn-block" {{action "runFitter"}}>Fit</button>
                {{#if fitResult.isPopulated}}
                    {{#if fitExport.isPopulated}}
                        <a href={{fitExport.url}} class="btn btn-info btn-block">Download</a>
                    {{else}}
                        <button class="btn btn-default btn-block" {{action "exportFit"}}>Export result</button>
                    {{/if}}
                {{/if}}
            {{/if}}

        </div>
    </div> <!-- Panel -->
    </div> <!-- Sidebar -->



    <div class="col-xs-12 col-md-8 col-lg-9">

        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="bindfit-result-chart" class="panel-body">
                {{bindfit-high-charts content=fitResult.chartData chartOptions=fitLabels.chartOptions theme=chartTheme}}
            </div> <!-- Chart -->

            <div class="panel-heading">
                <h3 class="panel-title">Parameters</h3>
            </div>

            <table id="bindfit-result-params" class="table">
                <!-- <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Result</th>
                    </tr>
                </thead> -->

                <tbody>
                    {{#each fitResult.params key="@index" as |param pi|}}
                        <tr>
                            <th scope="row">{{get-at-index fitLabels.params pi "label"}}</th>
                            <td>{{param.value}}</td>
                            <td>{{get-at-index fitLabels.params pi "units"}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
