<div class="row">

    <div id="sidebar" class="col-xs-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Fitter parameters</h3>
        </div>

        <div class="panel-body">
            <p>Instructions go here</p>

            <form id="bindfit-form-selector" class="form-horizontal" {{action "runFitter" on="enter"}}>
                <div class="form-group">
                    <div class="input-group col-xs-12">
                        {{#x-select action="onFitterSelect" class="form-control"}}
                            <option>Choose fitter</option>
                            {{#each fitList as |fitter|}}
                                {{#x-option value=fitter.key}}{{fitter.name}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                    </div>
                </div>
            </form>

            {{#if fitterSelected}}
                <form id="bindfit-form-params" class="form-horizontal" {{action "runFitter" on="enter"}}>
                    <div class="form-group">
                        <label class="sr-only" for="inputFile">Upload input file</label>
                        <div class="input-group col-xs-12">
                            <div class="input-group-addon">Input file</div>
                            {{file-upload url=uploadURL name=uploadName id="inputFile" class="form-control"}}
                        </div>

                        {{#each fitOptionsParams}}
                            <div class="input-group col-xs-12">
                                <div class="input-group-addon">{{this.label}} guess</div>
                                {{input value=this.value type="number" class="form-control"}}
                                <div class="input-group-addon">{{this.units}}</div>
                            </div>
                        {{/each}}
                    </div>
                </form>

                <button class="btn btn-primary btn-block" {{action "runFitter"}}>Fit</button>
            {{/if}}

        </div>
    </div> <!-- Panel -->
    </div> <!-- Sidebar -->



    <div class="col-xs-9">

        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="bindfit-result-chart" class="panel-body">
                {{bindfit-high-charts content=fitResult.chartData chartOptions=chartOptions theme=chartTheme}}
            </div> <!-- Chart -->

            <div class="panel-heading">
                <h3 class="panel-title">Parameters</h3>
            </div>

            <table id="bindfit-result-params" class="table">
                <!-- <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Result</th>
                    </tr>
                </thead> -->

                <tbody>
                    {{#each fitResultParams as |p|}}
                        <tr>
                            <th scope="row">{{p.label}}</th>
                            <td>{{p.value}}</td>
                            <td>{{p.units}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
