<div id="bindfit-index" class="container-fluid">
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="alert alert-default alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Get started</h4>
            <ol>
                <li>Select a model to fit your data to</li>
                <li>Upload csv formatted data file</li>
                <li>Enter initial parameter guesses</li>
                <li>Click "Fit"</li>
            </ol>
        </div> <! -- Alert -->
    </div> <!-- Col -->
</div> <!-- Row -->

<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-4 col-lg-3">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Control
                </a>
            </h3>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="input-group col-xs-12">
                        {{#x-select action="onFitterSelect" class="form-control"}}
                            <option>Choose fitter</option>
                            {{#each fitList as |fitter|}}
                                {{#x-option value=fitter.key}}{{fitter.name}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                    </div>
                </div>
            </form>

            {{#if fitOptions.isPopulated}}
                <form class="form-horizontal" {{action "runFitter" on="enter"}}>
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            {{data-file-upload onComplete="onUploadComplete" onRestart="onUploadRestart"}}
                        </div>

                        {{#each fitOptions.params key="@index" as |param pi|}}
                            <div class="input-group col-xs-12">
                                <div class="input-group-addon">{{get-at-index fitLabels.params pi "label"}} guess</div>
                                {{input value=param.value type="number" class="form-control"}}
                                <div class="input-group-addon">{{get-at-index fitLabels.params pi "units"}}</div>
                            </div>
                        {{/each}}
                    </div>
                </form>

                <button class="btn btn-primary btn-block" {{action "runFitter"}}>Fit</button>
            {{/if}}

        </div> <!-- Panel body -->
        </div> <!-- Panel body collapse wrapper -->
    </div> <!-- Panel -->

    {{#if fitResult.isPopulated}}
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Results
                </a>
                </h3>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <table class="table">
                <!-- <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Result</th>
                    </tr>
                </thead> -->

                <tbody>
                    {{#each fitResult.params key="@index" as |param pi|}}
                        <tr>
                            <th scope="row">{{get-at-index fitLabels.params pi "label"}}</th>
                            <td>{{round param.value 2}}</td>
                            <td>{{get-at-index fitLabels.params pi "units"}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            </div> <!-- Panel body collapse wrapper -->
        </div> <!-- Panel -->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Share
                </a>
                </h3>
            </div>

            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <form class="form-horizontal" {{action "saveFit" on="enter"}}>
                    <div class="form-group">
                        <label for="bindfit-form-save-name">Name</label>
                        {{input id="bindfit-form-save-name" value=fitMeta.name type="text" class="form-control"}}
                    </div>
                    <div class="form-group">
                        <label for="bindfit-form-save-notes">Notes</label>
                        {{textarea id="bindfit-form-save-notes" value=fitMeta.notes class="form-control" rows="5"}}
                    </div>
                </form>

               <!-- Save button -->
                {{#if fitSave.isPopulated}}
                    <a href={{fitSave.url}} target="_blank" class="btn btn-info btn-block">Link to saved fit</a>
                {{else}}
                    <button class="btn btn-default btn-block" {{action "saveFit"}}>Save</button>
                {{/if}}

                <!-- Export button -->
                {{#if fitExport.isPopulated}}
                    <a href={{fitExport.url}} class="btn btn-info btn-block">Download</a>
                {{else}}
                    <button class="btn btn-default btn-block" {{action "exportFit"}}>Export</button>
                {{/if}}
            </div> <!-- Panel body -->
            </div> <!-- Panel body collapse wrapper -->
        </div> <!-- Panel -->
    {{/if}}
    </div> <!-- Panel group (accordion) -->

    </div> <!-- Sidebar -->



    <div id="main" class="col-xs-12 col-md-8 col-lg-9">
        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="chart" class="panel-body">
                {{bindfit-high-charts content=fitResult.chartData chartOptions=fitLabels.chartOptions theme=chartTheme}}
            </div> <!-- Chart -->

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
</div> <!-- container -->
