<div id="bindfit-index" class="container-fluid">
<!-- 
<div class="row">
    <div class="col-xs-24 col-md-8 col-md-offset-8">
        <div class="alert alert-default alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Get started</h4>
            <ol>
                <li>Select a model to fit your data to</li>
                <li>Upload csv formatted data file</li>
                <li>Enter initial parameter guesses</li>
                <li>Click "Fit"</li>
            </ol>
        </div>
    </div>
</div>
-->

<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-5 col-lg-4">

    <ul class="nav nav-tabs">
        <li class={{if (eq activeTab 1) "nav active" "nav"}}><a href="#tab-select"  {{action "selectTab" 1}}>
            {{#if activeFitter}}
                Fitter: {{activeFitter}}
            {{else}}
                Choose Fitter 
            {{/if}}
        </a></li>
        <li class={{if (eq activeTab 2) "nav active" "nav"}}><a href="#tab-control" {{action "selectTab" 2}}>Control</a></li>
        <li class={{if (eq activeTab 3) "nav active" "nav"}}><a href="#tab-results" {{action "selectTab" 3}}>Results</a></li>
        <li class={{if (eq activeTab 4) "nav active" "nav"}}><a href="#tab-save"    {{action "selectTab" 4}}>Save</a></li>
    </ul>

    <div class="tab-content">

        <div class={{if (eq activeTab 1) "tab-pane fade in active" "tab-pane fade"}} id="tab-select">
        <div class="panel panel-default">
        <div class="panel-body">
            
            <div class="col-xs-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <h4>Search</h4>
                        <p>Start typing for options or select a fitter directly below</p>
                        {{bindfit-list-picker content=model.fitList
                                      action=(action "onFitterSelect")
                                      liveSearch=true
                                      optionGroupPath="group"
                                      optionLabelPath="content.name"
                                      optionValuePath="content.key"}}
                    </div>
                </form>
            </div>

            <hr/>

            {{#if model.fitOptions._isPopulated}}
                <br/>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6">
                        <button class="btn btn-block" {{action "nextTab"}}>Next</button>
                    </div>
                </div>
            {{/if}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-select -->

        <div class={{if (eq activeTab 2) "tab-pane fade in active" "tab-pane fade"}} id="tab-control">
        <div class="panel panel-default">
        <div class="panel-body">
            {{#if model.fitOptions._isPopulated}}
                <form class="form-horizontal" {{action "runFitter" on="enter"}}>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{data-file-upload fitter=model.fitOptions.fitter onComplete="onUploadComplete" onRestart="onUploadRestart"}}
                         
                          {{fit-paginator currentPage=currentPage 
                                            countPages=countPages
                                            n=NUMBER_ROWS_PAGE
                                            }}
                        </div>
                    </div>

                    {{#unless model.fitOptions._noFit}}
                        {{fit-options-form fitOptions=model.fitOptions
                                           fitLabels =model.fitLabels}}
                    {{/unless}}
                </form>

                <hr/>

                {{#unless model.fitOptions._noFit}}
                    <!-- Display fit button -->
                    {{async-button action="runFitter" default="Fit" pending="Fitting..." fulfilled="Recalculate fit" rejected="Fit failed" id="fit-button"}}
                    {{#if errorFit}}
                        <div class="alert alert-default alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{errorFit.detail}}
                        </div>
                    {{/if}}
                {{/unless}}

                <!-- Back button (always displayed) -->
                <br/>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-block" {{action "prevTab"}}>Back</button>
                    </div>
                    {{#unless model.fitOptions._noFit}}
                        <!-- Normal fit controls -->
                        {{#if model.fitResult.isPopulated}}
                            <!-- Standard next button -->
                            <div class="col-xs-6">
                                <button class="btn btn-block" {{action "nextTab"}}>Next</button>
                            </div>
                        {{/if}}
                    {{else}}
                        <!-- Save data controls -->
                        {{#if model.fitOptions._hasData}}
                            <!-- Save data only next button - advances to Save -->
                            <div class="col-xs-6">
                                <button class="btn btn-block" {{action "saveData"}}>Next</button>
                            </div>
                        {{/if}}
                    {{/unless}}
                </div>
            {{else}}
                <div class="panel-body">
                    <p>Select a fitter to use in the "Choose Fitter" tab first</p>
                </div>
            {{/if}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-control -->

        <div class={{if (eq activeTab 3) "tab-pane fade in active" "tab-pane fade"}} id="tab-results">
        <div class="panel panel-default">
        <div class="panel-body">
        
            {{#if model.fitOptions._noFit}}
                <div class="panel-body">
                    <p>No fit requested, no results to display</p>
                </div>
            {{else if model.fitResult.isPopulated}}
                <!-- Monte Carlo error calculation form -->
                <!-- {{fit-calc-monte-carlo fit=model.fitResult}} -->
                <!-- <br/> -->

                <!-- Fit Result table -->
                {{fit-paginator currentPage=currentPage 
                                  countPages=countPages
                                  n=NUMBER_ROWS_PAGE
                                  }}

                {{fit-result-table fitResult=model.fitResult 
                                   fitLabels=model.fitLabels 
                                   currentPage=currentPage
                                   countPages=countPages
                                   n=NUMBER_ROWS_PAGE}}
                <br/>

                <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-block" {{action "prevTab"}}>Back</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-block" {{action "nextTab"}}>Next</button>
                </div>
                </div>
            {{else}}
                <div class="panel-body">
                    <p>No results to display</p>
                </div>
            {{/if}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-results -->

        <div class={{if (eq activeTab 4) "tab-pane fade in active" "tab-pane fade"}} id="tab-save">
        <div class="panel panel-default">
        <div class="panel-body">

            {{#if model.fitResult.isPopulated}}
                <div class="panel-body">
                    <!-- Save form -->
                    {{fit-save fit=model.fitResult 
                               fitID=model.fitID
                               fitEditKey=model.fitEditKey 
                               output=model.fitSave}}

                    <hr/>

                    <!-- Export button -->
                    {{fit-export fit=model.fitResult output=model.fitExport}}
                    
                    <!-- Back button -->
                    <br/>
                    <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-block" {{action "prevTab"}}>Back</button>
                    </div>
                    </div>
                </div> <!-- Panel body -->
            {{else}}
                <div class="panel-body">
                    <p>No options to display</p>
                </div>
            {{/if}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-save -->
    </div> <!-- .tab-content -->

    </div> <!-- Sidebar -->



    <div id="main" class="col-xs-12 col-md-7 col-lg-8">
        <div class="row">
            <div class="col-xs-12">
                {{fit-charts fitResult=pagedFitResults
                             fitLabels=model.fitLabels 
                             currentPage=currentPage
                             countPages=countPages
                             }}
            </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
</div> <!-- container -->
