<div id="bindfit-index" class="container-fluid">
<!-- 
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="alert alert-default alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Get started</h4>
            <ol>
                <li>Select a model to fit your data to</li>
                <li>Upload csv formatted data file</li>
                <li>Enter initial parameter guesses</li>
                <li>Click "Fit"</li>
            </ol>
        </div>
    </div>
</div>
-->

<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-5 col-lg-4">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Control
                </a>
            </h3>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        {{#x-select action="onFitterSelect" class="form-control"}}
                            <option>Choose fitter</option>
                            {{#each model.fitList as |fitter|}}
                                {{#x-option value=fitter.key}}{{fitter.name}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}
                    </div>
                </div>
            </form>

            {{#if model.fitOptions.isPopulated}}
                <form class="form-horizontal" {{action "runFitter" on="enter"}}>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{data-file-upload onComplete="onUploadComplete" onRestart="onUploadRestart"}}
                        </div>

                        {{#each model.fitOptions.params key="@index" as |param pi|}}
                            <div class="input-group col-xs-12">
                                <div class="input-group-addon">{{get-at-index model.fitLabels.params pi "label"}} guess</div>
                                {{input value=param.value type="number" class="form-control"}}
                                <div class="input-group-addon">{{get-at-index model.fitLabels.params pi "units"}}</div>
                            </div>
                        {{/each}}

                    </div>
                    <div class="checkbox">
                        <label>
                            <div class="input-group col-xs-12">
                                {{input checked=model.fitOptions.dilute type="checkbox"}} Dilution factor
                            </div>
                        </label>
                    </div>
                </form>

                <hr/>
                {{async-button action="runFitter" default="Fit" pending="Fitting..." fulfilled="Recalculate fit" rejected="Fit failed" id="fit-button"}}
            {{/if}}

        </div> <!-- Panel body -->
        </div> <!-- Panel body collapse wrapper -->
    </div> <!-- Panel -->

    <div {{bind-attr class=":panel model.fitResult.isPopulated:panel-info:panel-default"}}>
        <div class="panel-heading" role="tab" id="headingTwo">
            <h3 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Results
            </a>
            </h3>
        </div>

        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            {{#if model.fitResult.isPopulated}}
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <th scope="row">Parameter</th>
                            <th>Value</th>
                        </tr>
                        {{#each model.fitResult.fit.params key="@index" as |param pi|}}
                            <tr>
                                <th scope="row">{{get-at-index model.fitLabels.params pi "label"}}</th>
                                <td>{{round param.value 2}} {{get-at-index model.fitLabels.params pi "units"}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <th scope="row">Fit</th>
                            <!-- Deal with multiple inputs here later -->
                            {{#each model.fitResult.fit.rms as |rmsList|}}
                                {{#each rmsList as |rms index|}}
                                    <th>{{index}}</th>
                                {{/each}}
                            {{/each}}
                        </tr>
                        <tr>
                            <th scope="row">RMS</th>
                            <!-- Deal with multiple inputs here later -->
                            {{#each model.fitResult.fit.rms as |rmsList|}}
                                {{#each rmsList as |rms|}}
                                    <td>{{round rms 4}}</td>
                                {{/each}}
                            {{/each}}
                        </tr>
                        <tr>
                            <th scope="row">Covariance</th>
                            <!-- Deal with multiple inputs here later -->
                            {{#each model.fitResult.fit.cov as |covList|}}
                                {{#each covList as |cov|}}
                                    <td>{{round cov 4}}</td>
                                {{/each}}
                            {{/each}}
                        </tr>
                    </tbody>
                </table>
            {{else}}
                <div class="panel-body">
                    <p>Fitted parameters will be displayed here once you've run a fitter in the Control panel.</p>
                </div>
            {{/if}}
        </div> <!-- Panel body collapse wrapper -->
    </div> <!-- Panel -->

    <div {{bind-attr class=":panel model.fitResult.isPopulated:panel-info:panel-default"}}>
        <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Save
            </a>
            </h3>
        </div>

        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        {{#if model.fitResult.isPopulated}}
            <div class="panel-body">
                <!-- Save form -->
                {{fit-save data=model.fitResult.data fit=model.fitResult.fit meta=model.fitMeta options=model.fitOptions output=model.fitSave}}

                <hr/>

                <!-- Export button -->
                {{fit-export data=model.fitResult.data fit=model.fitResult.fit meta=model.fitMeta options=model.fitOptions output=model.fitExport}}
            </div> <!-- Panel body -->
        {{else}}
                <div class="panel-body">
                    <p>Run a fitter in the Control panel first.</p>
                </div>
        {{/if}}
        </div> <!-- Panel body collapse wrapper -->
    </div> <!-- Panel -->
    </div> <!-- Panel group (accordion) -->

    </div> <!-- Sidebar -->



    <div id="main" class="col-xs-12 col-md-7 col-lg-8">

        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="charts" class="panel-body">
                {{bindfit-high-charts content=chartData chartOptions=chartOptions theme=chartTheme}}
                {{bindfit-high-charts content=chartDataResiduals chartOptions=chartOptions theme=chartTheme}}
            </div> <!-- Chart panel -->

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
</div> <!-- container -->
