<div id="bindfit-view" class="container-fluid">
<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-5 col-lg-4">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Input
                </a>
            </h3>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <table class="table">
                <tbody>
                    <!-- Fitter -->
                    <tr>
                        <th scope="row">Fitter</th>
                        <td>{{fitterString}}</td>
                    </tr>

                    <!-- Parameters -->
                    <tr class="active">
                        <th scope="row">Parameter</th>
                        <th>Input guess</th>
                    </tr>
                    {{#each model.fitOptions.params key="@index" as |param pi|}}
                        <tr>
                            <th scope="row">{{get-at-index model.fitLabels.params pi "label"}}</th>
                            <td>{{round param.value 2}} {{get-at-index model.fitLabels.params pi "units"}}</td>
                        </tr>
                    {{/each}}

                    <tr>
                        <th scope="row">Dilution correction</th>
                        <td>
                            {{#if model.fitOptions.dilute}}
                                Yes
                            {{else}}
                                No 
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- Collapse div -->
    </div> <!-- Panel -->

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Results
                </a>
            </h3>
        </div>

        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <table class="table">
                <tbody>
                    <tr class="active">
                        <th scope="row">Parameter</th>
                        <th>Value</th>
                    </tr>
                    {{#each model.fitResult.fit.params key="@index" as |param pi|}}
                        <tr>
                            <th scope="row">{{get-at-index model.fitLabels.params pi "label"}}</th>
                            <td>{{round param.value 2}} {{get-at-index model.fitLabels.params pi "units"}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr class="active">
                        <th scope="row">Fit</th>
                        <th>Coefficients</th>
                        <th>RMS</th>
                        <th>Covariance</th>
                    </tr>
                    <tr class="active">
                        <th scope="row">Total</th>
                        <th>---</th>
                        <th>{{round model.fitResult.fit.rms_total.[0] 4}}</th>
                        <th>{{round model.fitResult.fit.cov_total.[0] 4}}</th>
                    </tr>
                    {{#each model.fitResult.data.labels.y as |label index|}}
                            <tr>
                                <th>{{label}}</th>
                                <td>{{round (get-at-index model.fitResult.fit.coeffs 0 index) 4}}</td>
                                <td>{{round (get-at-index model.fitResult.fit.rms 0 index) 4}}</td>
                                <td>{{round (get-at-index model.fitResult.fit.cov 0 index) 4}}</td>
                            </tr>
                    {{/each}}
                </tbody>
            </table>
        </div> <!-- Collapse div -->
    </div> <!-- Panel -->

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Metadata 
                </a>
            </h3>
        </div> <!-- Panel heading -->

        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <table class="table">
                <tbody>
                    <!-- Metadata -->
                    <tr>
                        <th scope="row">Author(s)</th>
                        <td>{{model.fitMeta.author}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Experiment name</th>
                        <td>{{model.fitMeta.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Experiment date</th>
                        <td>
                            {{parse-date model.fitMeta.date}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fit date</th>
                        <td>{{parse-date model.fitMeta.timestamp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Lab book reference</th>
                        <td>{{model.fitMeta.ref}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Host species</th>
                        <td>{{model.fitMeta.host}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Guest species</th>
                        <td>{{model.fitMeta.guest}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Solvent</th>
                        <td>{{model.fitMeta.solvent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Temperature</th>
                        <td>{{model.fitMeta.temp}} {{model.fitMeta.temp_unit}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>{{model.fitMeta.notes}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fit ID</th>
                        <td>{{model.fitID}}</td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- Collapse div -->
    </div> <!-- Panel -->

    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingFour">
            <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Edit
                </a>
            </h3>
        </div>

        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                {{fit-export data=model.fitResult.data fit=model.fitResult.fit meta=model.fitMeta options=model.fitOptions output=model.fitExport}}
                <hr/>
                {{#link-to "edit" model.fitID class="btn btn-info btn-block"}}Edit fit{{/link-to}}
            </div>
        </div> <!-- Collapse div -->
    </div> <!-- Panel -->


    </div> <!-- Panel group (accordion) -->

    </div> <!-- Sidebar -->



    <div id="main" class="col-xs-12 col-md-7 col-lg-8">

        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="charts" class="panel-body">
                {{bindfit-high-charts content=chartData chartOptions=chartOptions theme=chartTheme}}
                {{bindfit-high-charts content=chartDataResiduals chartOptions=chartOptions theme=chartTheme}}
            </div> <!-- Chart -->

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
</div> <!-- container fluid -->
