<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Input</h3>
        </div>

        <table class="table">
            <tbody>
                <!-- Fitter -->
                <tr>
                    <th scope="row">Fitter</th>
                    <td>{{fitOptions.fitter}}</td>
                </tr>

                <!-- Parameters -->
                {{#each fitOptions.params key="@index" as |param pi|}}
                    <tr>
                        <th scope="row">{{get-at-index fitLabels.params pi "label"}} guess</th>
                        <td>{{round param.value 0}}</td>
                        <td>{{get-at-index fitLabels.params pi "units"}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Results</h3>
        </div>

        <table class="table">
            <tbody>
                {{#each fitResult.fit.params key="@index" as |param pi|}}
                    <tr>
                        <th scope="row">{{get-at-index fitLabels.params pi "label"}}</th>
                        <td>{{round param.value 2}}</td>
                        <td>{{get-at-index fitLabels.params pi "units"}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div> <!-- Panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Metadata</h3>
        </div>

        <table class="table">
            <tbody>
                <!-- Metadata -->
                <tr>
                    <th scope="row">Author(s)</th>
                    <td>{{fitMeta.author}}</td>
                </tr>
                <tr>
                    <th scope="row">Experiment name</th>
                    <td>{{fitMeta.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Experiment date</th>
                    <td>{{fitMeta.date}}</td>
                </tr>
                <tr>
                    <th scope="row">Fit date</th>
                    <td>{{fitMeta.timestamp}}</td>
                </tr>
                <tr>
                    <th scope="row">Lab book reference</th>
                    <td>{{fitMeta.ref}}</td>
                </tr>
                <tr>
                    <th scope="row">Host species</th>
                    <td>{{fitMeta.host}}</td>
                </tr>
                <tr>
                    <th scope="row">Guest species</th>
                    <td>{{fitMeta.guest}}</td>
                </tr>
                <tr>
                    <th scope="row">Solvent</th>
                    <td>{{fitMeta.solvent}}</td>
                </tr>
                <tr>
                    <th scope="row">Temperature</th>
                    <td>{{fitMeta.temp}}</td>
                </tr>
                <tr>
                    <th scope="row">Notes</th>
                    <td>{{fitMeta.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div> <!-- Panel -->


    </div> <!-- Sidebar -->


    <div class="col-xs-12 col-md-8 col-lg-9">

        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="charts" class="panel-body">
                {{bindfit-high-charts content=fitResult.chartData chartOptions=fitLabels.chartOptions theme=chartTheme}}
                {{bindfit-high-charts content=fitResult.chartDataResiduals chartOptions=fitLabels.chartOptions theme=chartTheme}}
            </div> <!-- Chart -->

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
