<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Fit info</h3>
        </div>

        <table class="table">
            <tbody>
                <!-- Metadata -->
                <tr>
                    <th scope="row">Name</th>
                    <td>{{fitName}}</td>
                </tr>
                    
                <!-- Fitter -->
                <tr>
                    <th scope="row">Fitter</th>
                    <td>{{fitOptions.fitter}}</td>
                </tr>

                <!-- Parameters -->
                {{#each fitOptions.params key="@index" as |param pi|}}
                    <tr>
                        <th scope="row">{{get-at-index fitLabels.params pi "label"}} guess</th>
                        <td>{{param.value}}</td>
                        <td>{{get-at-index fitLabels.params pi "units"}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div> <!-- Panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Calculated parameters</h3>
        </div>

        <table id="bindfit-result-params" class="table">
            <tbody>
                {{#each fitResult.params key="@index" as |param pi|}}
                    <tr>
                        <th scope="row">{{get-at-index fitLabels.params pi "label"}}</th>
                        <td>{{param.value}}</td>
                        <td>{{get-at-index fitLabels.params pi "units"}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div> <!-- Panel -->

    </div> <!-- Sidebar -->


    <div class="col-xs-12 col-md-8 col-lg-9">

        <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">

            <div id="bindfit-result-chart" class="panel-body">
                {{bindfit-high-charts content=fitResult.chartData chartOptions=fitLabels.chartOptions theme=chartTheme}}
            </div> <!-- Chart -->

        </div> <!-- Panel for results -->
        </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
