<div id="bindfit-view" class="container-fluid">
<div class="row">

    <div id="sidebar" class="col-xs-12 col-md-5 col-lg-4">
    
    
    <div class="panel panel-default data-browser">
    <div class="panel-heading">
      <h2>Data Browser</h2>
      <span class="toggle-container">
        {{x-toggle
          value=usePicker
          showLabels="true"
          onToggle=(mut usePicker)
          onLabel="Pager::true"
          offLabel="Picker::false"
        }}
      </span>
    </div>
    <div class="panel-body">

        {{#unless usePicker}}
          {{bindfit-multi-select 
                          fits=model.fitResult.labels.data.y.row_labels
                          selectedFits=selectedFits
                          selectedFitsDirty=selectedFitsDirty}}
        {{else}}
          {{fit-paginator currentPage=currentPage 
                          countPages=countPages
                          n=NUMBER_ROWS_PAGE
                          }}

        {{/unless}}
  
    </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#tab-input" data-toggle="tab">Input</a></li>
        {{#unless model.fitResult.no_fit}}
            <li class="nav"><a href="#tab-results"  data-toggle="tab">Fit</a></li>
        {{/unless}}
        <li class="nav"><a href="#tab-metadata" data-toggle="tab">Metadata</a></li>
        <li class="nav"><a href="#tab-edit"     data-toggle="tab">Edit</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-input">
        <div class="panel panel-default">
        <div class="panel-body">
          <dl class="fitDetails">
            <dt>Fitter</dt>
            <dd>{{model.fitResult.fitter_name}}</dd>
          </dl>
            {{#unless model.fitResult.no_fit}}
          <h2>Parameters</h2>

            <table class="table">
                    <!-- Parameters -->
                        <thead>
                        <tr class="active">
                            <th scope="row">Name</th>
                            <th>Initial guess</th>
                        </tr>
                        </thead>
                <tbody>
                        {{#each paramsLabelled as |param|}}
                            <tr>
                                {{#if (is-array param.label)}}
                                    <!-- Sub-params - display only first for guess -->
                                    <th scope="row">{{param.label.[0]}}</th>
                                {{else}}
                                    <th scope="row">{{param.label}}</th>
                                {{/if}}
                                <td>{{format-sci param.init 2}} {{param.units}}</td>
                            </tr>
                        {{/each}}
                </tbody>
            </table>
          
          <h2>Options</h2>
            <table class="table">
                <thead>
                        <tr class="active">
                            <th scope="row">Name</th>
                            <th>Value</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">Dilution correction</th>
                            <td>
                                {{#if model.fitResult.options.dilute}}
                                    Yes
                                {{else}}
                                    No 
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Subtract initial values</th>
                            <td>
                                {{#if model.fitResult.options.normalise}}
                                    Yes
                                {{else}}
                                    No 
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Fit method</th>
                            <td>
                                {{#if model.fitResult.options.method}}
                                    {{model.fitResult.options.method}}
                                {{else}}
                                    Default
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Fit flavour</th>
                            <td>
                                {{#if model.fitResult.options.flavour}}
                                    {{model.fitResult.options.flavour}}
                                {{else}}
                                    None
                                {{/if}}
                            </td>
                        </tr>
                </tbody>
            </table>
            {{/unless}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-input -->

        
        {{#unless model.fitResult.no_fit}}
            <div class="tab-pane fade" id="tab-results">
            <div class="panel panel-default">
            <div class="panel-body">

                {{fit-details fitResult=model.fitResult 
                                   pagedFitResult=pagedFitResults
                                   fitLabels=model.fitLabels 
                                   }}

            </div> <!-- .panel-body -->
            </div> <!-- .panel -->
            </div> <!-- #tab-results -->
        {{/unless}}

        <div class="tab-pane fade" id="tab-metadata">
        <div class="panel panel-default">
        <div class="panel-body">
            <h2>Experiment</h2>
            <table class="table">
                <thead>
                        <tr class="active">
                            <th scope="row">Name</th>
                            <th>Value</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Author(s)</th>
                        <td>{{model.fitResult.meta.author}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Experiment name</th>
                        <td>{{model.fitResult.meta.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Experiment date</th>
                        <td>
                            {{#if model.fitResult.meta.date}}
                                {{moment-format model.fitResult.meta.date}}
                            {{else}}
                                No date given
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fit date</th>
                        <td>{{moment-format model.fitResult.meta.timestamp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Lab book reference</th>
                        <td>{{model.fitResult.meta.ref}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Host species</th>
                        <td>{{model.fitResult.meta.host}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Guest species</th>
                        <td>{{model.fitResult.meta.guest}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Solvent</th>
                        <td>{{model.fitResult.meta.solvent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Temperature</th>
                        <td>
                            {{#if model.fitResult.meta.temp}}
                                {{model.fitResult.meta.temp}} {{model.fitResult.meta.temp_unit}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>{{model.fitResult.meta.notes}}</td>
                    </tr>
                </tbody>
            </table>

            <h2>Bindfit</h2>
            <table class="table">
                <!-- Metadata -->
                <thead>
                        <tr class="active">
                            <th scope="row">Name</th>
                            <th>Value</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Fit ID</th>
                        <td><a href="/bindfit/view/{{model.fitID}}" target="_blank">{{model.fitID}}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Searchable</th>
                        <td>
                            {{#if model.fitResult.meta.options.searchable}}
                                Yes
                            {{else}}
                                No
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-metadata -->

        <div class="tab-pane fade" id="tab-edit">
        <div class="panel panel-default">
        <div class="panel-body">

            {{fit-export fit=model.fitResult output=model.fitExport}}
            <br/>
            <!-- {{#unless model.fitResult.no_fit}}
                {{#link-to "edit" model.fitID class="btn btn-info btn-block"}}Edit fit{{/link-to}}
            {{else}}
                {{#link-to "edit" model.fitID class="btn btn-info btn-block"}}Fit data{{/link-to}}
            {{/unless}} -->
            {{fit-edit fitID=model.fitID}}

        </div> <!-- .panel-body -->
        </div> <!-- .panel -->
        </div> <!-- #tab-edit -->

    </div> <!-- .tab-content -->

    
    <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Welcome!</strong>
          BindFit is currently under development. Although we do our best to test everything, you may occasionally find features that aren't working quite right. Feel free to email us at <a href="mailto:bugs@opendatafit.org">bugs@opendatafit.org</a> to report anything broken, or suggest any new features you'd like implemented. Enjoy!
    </div>



    </div> <!-- Sidebar -->



    <div id="main" class="col-xs-12 col-md-7 col-lg-8">

        <div class="row">
            <div class="col-xs-12">
                {{fit-charts fitResult=pagedFitResults 
                    fitLabels=model.fitLabels 
                    fullFitResult=model.fitResult}}
            </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- Main -->

</div> <!-- global row -->
</div> <!-- container fluid -->
